# RabbitMQ Configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# MariaDB Configuration
MARIADB_HOST=mariadb
MARIADB_PORT=3306
MARIADB_USER=mediarch_user
MARIADB_PASSWORD=mediarch_password
MARIADB_DATABASE=mediarch

# Master Node
MASTER_PORT=8000
MASTER_HOST=0.0.0.0
